@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Nunito:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(58, 8, 45, 0.73), rgba(22, 22, 22, 0.315) ), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerNav {
    /*background-color: blue;*/
    display: flex;
    height: 20%;
    width: 100%;
}

.navegacion {
    /*background-color: aquamarine;*/
    width: 70%;
}

.listaNav {
    /*background-color: rgb(73, 226, 43);*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.listaNav li {
    list-style: none;
    width: 43%;
    box-shadow: inset 0 -7px 10px -10px #ffffff;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem;
}

.linkNav {
    font-size: 0.6rem;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.808);
}

.comprarTickets {
    color: rgba(41, 167, 66, 0.801);
    font-size: 0.8rem;
    font-weight: 600;
}

.contenedorLogo h2{
    display: none;
}

.contenedorLogo {
    /*background-color: rgb(85, 170, 36);*/
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorLogo a {
    width: 50%;
}

.contenedorLogo img {
    width: 100%;
}


/* Section Conferencia Bs AS */
.laConferencia {
    height: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.contenidoConferencia {
    width: 90%;
    height: 42%;
    margin-top: 1rem;
}

.contenidoConferencia h1 {
    color: rgba(255, 255, 255, 0.829);
    font-size: 2rem;
    text-align: right;
    margin-bottom: 0.5rem;
}

.parrafoConferencia{
    color: white;
    text-align: right;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonOrador {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    margin-right: 0.5rem;
}

.buttonTicket {
    background-color: rgb(41, 167, 67);
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}


/* Section Oradores */
.sectionOradores{
    height: 100vh;
    margin-bottom: 2rem;
}

.tituloOradores{
    text-align: center;
    color: rgb(34, 37, 41);
}

.tituloOradores span {
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
}

.padreCards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
    margin: auto;
    text-align: center;
}

.card{
    height: 30%;
    border: 1px solid rgb(227, 227, 227);
    margin-left:15px;
    border-radius: 5px;
    text-align: left;
    display: flex;
}

.card img{
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cardBody{
    width: 60%;
    padding:10px;
}

.topicsContainer {
    display: flex;
    margin-bottom: 0.3rem;
}

.topic {
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.javascript {
    background-color: rgb(253, 192, 6);
}

.react {
    background-color: rgb(19, 165, 180);
    color: white;
}

.negocios {
    background-color: rgb(106, 114, 123);
    color: white;
}

.startups {
    background-color: rgb(217, 49, 67);
    color: white;
}

.cardBody p {
    font-family: 'Calibri', sans-serif;
    color: rgb(63, 68, 75);
    font-size: 0.6rem;
    font-weight: 400;
}

/* Section con imagen y Bs - Octubre */
.lugarFecha{
    height: 35vh;
    font-family: 'Calibri', sans-serif;
}

.right{
    width: 100%;
    height: 100%;
    background-color: rgb(53, 58, 64);
    color:white;
}

.rightContent {
    /*background-color: aquamarine;*/
    width: 90%;
    height: 62%;
    margin: 0 auto;
    padding-top: 1rem;
}

.right h2 {
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.right p {
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    text-align: start;
    margin-bottom: 1.5rem;
}

.right a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 1px 3px 10px 0px rgba(255, 255, 255, 0.4);
    width: fit-content;
    padding: 0.4rem;
}

/* Section FORM Conviertete en orador */
.convierteteEnOrador {
    height: 60vh;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}

.convierteteEnOrador > p {
    text-align: center;
    color: rgb(74, 80, 88);
}

.tituloForm {
    text-align: center;
    color: rgb(34, 37, 41);
}

.tituloForm span {
    color: black;
    font-size: 0.7rem;
    font-weight: 400;
}

.oradoresForm {
    /*background-color: aquamarine;*/
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oradoresForm > input {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(150, 201, 62);
    border: none;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    padding: 0.4rem;
}

.oradoresForm textarea {
    width: 100%;
    border: none;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    padding: 0.4rem;
}

.oradoresForm p {
    color: rgb(151, 161, 175);
    font-size: 0.9rem;
}

.inputsContainer {
    display: flex;
    justify-content: space-between;
    /*background-color: blue;*/
}

.inputsContainer > input {
    width: 47%;
    border: none;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    padding: 0.4rem;
}

/* FOOTER */
.footer{
    background-color: rgb(30, 70, 95);
    height: 20vh;
    width: 100vw;
}

.footerLinks {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerLinks > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
